* {
color: #035746;
}


header {
    background-color: #fcf8cf;
    padding: 5%;
}

.logo a:link {
    text-decoration: none;
}

.logo h2 {
    color:#ac8980;
}

.container-footer {
    background-color: #caa59b;
    padding: 4%;
    height: 15%;
}

.social-networks  {
    text-align: center;
}

.social-networks li{
    display: inline;
} 

.social-networks i {
    font-size:170%;
    margin: 1%;
    padding: 0%;
    color: #035746;
}
