@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400&family=Libre+Baskerville&family=Oswald&display=swap');

 * {
    margin:0;
    padding:0;
    border:0;
 }

body{
    color: #035746;
    font-family: libre-baskerville, sans-serif;
    font-weight: 300;
    font-size: 18px;
    max-width: 1440px;
    margin: 0 auto;
}

h2, h3 {
    color:#22292f;
    Font-family: lato;
    font-weight: 400;
}

h2 {
    font-size: 45px;
}

.btn {
    background-color: #035746;
    color:#fcf8cf;
    border-radius: 10px;
    font-size: 16px;
    padding: 1% 2% 1% 2%; 
}

.btn:hover {
    background-color: #03574682;
}


/* header section */

header {
    background-color: #fcf8cf;
    padding: 2%;
}

.logo a:link {
    text-decoration: none;
}

.logo h1 {
    font-family: abril-fatface, san-serif;
    font-weight:400;
    font-size: 3.5rem;
    padding: 0%;
    margin:0%;
    color: #035746;
}

.logo h2 {
    color: #a88277;
    font-family: oswald, sans-serif;
    font-weight:300;
    font-size: 2.4rem;
    letter-spacing: 0.5px;
    padding: 0%;
    margin:0%;
    text-align: center;
    font-weight: lighter;
}

/* navigation menu*/

.navbar-collapse{
justify-content: right;
}

.navbar-toggler {
    display: flex;
    justify-content: right;  
}

.nav-link {
    color: #22292f;
}

.navbar-nav .active .nav-link{
    color: #a88277;
    font-weight: bold;
}



/*main image on frontpage*/

.hero-image {
    padding: 0;
    position: relative; 
}

/*.hero-text {
        font-family: abril-fatface;
        color: #fcf8cf;
        font-size: 5rem;
        position: absolute;
        padding: 5%;
        right: 20%;
        bottom: 30%;
        border-radius: 2px;
        animation: fade-in 5s forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

/* About Section */

.about-text {
    padding: 5%;
    text-align: center;
}

.about-img {
    padding-left: 5%;
    padding-top: 5%; 
    padding-bottom: 5%;
}

.title-caps {
    font-size: 1rem;
    padding: 0;
    margin-bottom:1rem;
}


/*services section front page */

.services-heading {
    padding-top: 2%;
    padding-bottom:2%;
    text-align: center;
}

.services-row p {
    text-align: center;
}

.container-services {
    background-color: #03574680;
    
}

/* facilities section front page */

.facilities-img {
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.facilities-section h2 {
    padding-bottom: 3%;
}

.facilities-section button {
    margin-top: 1rem;
}

.facilities-section-padding {
    padding: 5%;
}



/* footer section */

.container-footer-1 {
    background-color: #caa59b;
    padding: 1%;
    text-align: center;
}
.container-footer-2 {
    background-color:#035746;
    padding:0%;
    text-align: center;
}

.container-footer-2 p {
    color: #fcf8cf;
    padding-bottom: 0%;
    margin: 0%;
    font-size: 14px;
}

.social-networks  {
    text-align: center;
}

.social-networks li{
    display: inline;
} 

ul.social-networks {
    padding: 0%;
    margin: 0%;
}

.social-networks i {
    font-size:170%; 
    padding: 2%;
    color: #035746;
    
}


/* facilities page */

/* facilities section-1 */

.stables-img {
    padding: 5%;
}

.stables-text {
    text-align: left;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.stables-text h2{
    padding: 0;
    margin-bottom: 2rem;
}

.stables-text ul {
    padding-left: 1rem;

}

.facilities-row {
    padding: 5%;
}
 

.facilities p {
    text-align: center;
    color: #035746;
    padding: 5%;
}

/* livery section on the facilities page */

.livery {
    background-color: #fcf8cfa0;
}

.livery h2 {
    padding: 5%;
}

.livery > h3 {
    text-align: center;
    padding-bottom: 3%;  
}

.livery > p {
    text-align: center;
    padding-bottom: 3%;   
}

.card {
    background-color: #03574680;
    box-shadow: 0 5px 15px 0 #17171786, 0 5px 20px 0 #17171739;
    color: #22292f;
}

.card-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.card-body > h3 {
    color:#22292f;
    padding: 7%;
    text-align: center;
}

#card-title {
    color: #035746 !important;
}

.card-body i {
    color: #fcf8cf;
    position: center;
}

.card-body p {
    text-align: right;
}



.livery .row-2 {
    padding-top: 0;
    padding-bottom: 10%;
}

/* contact page */

.bg-image {
    background-image: url("../images/background-image-3.jpg");
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.contact-intro {
    color: #22292f;
    text-align: center;
    padding: 3%;
}

.contact-intro h2 {
    color: #035746;
}
 
.contact-form {
    background-color: #035746f1;
    color:#fcf8cf; 
    border-radius: 1%; 
    
}

.contact-column {
    padding: 5%;
}

.form-rows {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.contact-button {
    width: 90px;
    background-color: #caa59b;
    color: #22292f;
}

.contact-card {
    background-color: #035746f1;
    color:#fcf8cf;
    height:100%;
    border-radius: 1%;
}

.contact-card h3 {
    color: #a88277;
}

.card-body ul {
    list-style: none;
}

/* thank you page */


.thankyou-bg {
    background-image: url("../images/background-image-3.jpg");
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.thankyou-column {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.thankyou-card {
    background-color: #035746f1;
    color:#fcf8cf;
    border-radius: 1%;
    padding: 5%;
}

.thankyou-card h2 {
    color: #a88277;
    padding: 5%;
    font-size: 55px;
}

.thankyou-text p {
    text-align: center;
    
}

.thankyou-button {
    width: 120px;
    background-color: #caa59b;
    color: #22292f;
    margin: 5%;
}







/* Media Queries */

@media screen and (max-width: 992px) {
    
    .card-column {
        margin-bottom: 5%;
    }

    .card-body>h3 {
        padding: 1%;
    }

}


@media screen and (max-width: 768px) {
    
    .facilities-img {
        padding: 0;  
    }

    .stables-img {
        padding: 0;
    }
    
    .stables-text {
        padding: 5%;
    }

    .card-column {
        margin-bottom: 5%;
    }

    .thankyou-card h2 {
        font-size: 34px;
    }

    .thankyou-card {
        padding: 3%;
    }


}


@media screen and (max-width: 576px) {

    .logo h1 {
        font-size: 2.5rem;
    }

    .logo h2 {
        font-size: 1.2rem;
    }
    .stables-img {
        padding: 0;
    }
    
    .stables-text {
        padding: 5%;
    }

    .livery h2 {
        text-align: center;
    }

    .card-column {
        margin-bottom: 5%;
    }

    .contact-intro h2 {
        font-size: 35px;
    }

    .contact-intro h5 {
        font-size: 16px;
    }

    .thankyou-card {
        
        padding: 1%;
    }

    .thankyou-card h2 {
        font-size: 30px;
    }

    
    
}
   


