@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400&family=Libre+Baskerville&family=Oswald&display=swap');

* {
color: #035746;
font-family: libre-baskerville, sans-serif;
}

body{
    height:100vh;
}

/* header section */

header {
    background-color: #fcf8cf;
    padding: 2%;
}

.logo a:link {
    text-decoration: none;
}

.logo h1 {
    font-family: abril-fatface, san-serif;
    font-weight:400;
    font-size: 3.5rem;
    padding: 0%;
    margin:0%;
}

.logo h2 {
    color:#ac8980;
    font-family: oswald, sans-serif;
    font-weight:300;
    font-size: 1.5rem;
    padding: 0%;
    margin:0%;
    text-align: center;
}

/*main image on frontpage*/



.hero-image {
    padding:0;
}

/*#hero-image{
    max-width:100%;
    max-height: auto;
}*/

/* footer section */

.container-footer-1 {
    background-color: #caa59b;
    padding: 1%;
    text-align: center;
}
.container-footer-2 {
    background-color:#035746;
    padding:0%;
    text-align: center;
}

.container-footer-2 p {
    color: #fcf8cf;
    padding-bottom: 0%;
    margin: 0%;
}

.social-networks  {
    text-align: center;
}

.social-networks li{
    display: inline;
} 

ul.social-networks {
    padding: 0%;
    margin: 0%;
}

.social-networks i {
    font-size:170%; 
    padding: 2%;
    color: #035746;
}

@media screen and (max-width: 750px) {

    .logo h1 {
        font-size: 2.5rem;
    }

    .logo h2 {
        font-size: 1.2rem;
    }
    

}

